<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestLinks">
    <classes>
    <class name="test.SearchBus"/>     
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="TestSearch">
    <classes>
      <class name="test.LinkValidations"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="TestSortBy">
    <classes>
      <class name="test.SortBy"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="TestFilterBy">
    <classes>
      <class name="test.FilterByTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
